body{
    text-align:center;
    object-position: center;
    }
ul{
    display:inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    }
.parrafo1 {
    margin: 30px 350px;
    font-size: 26px;
    }
hr{
    border: 2px solid black;
    width: 50px;
    }
p2{
    position: fixed;
}
.uno, .dos, .tres,.cuatro, .cinco, .seis  {
    display:inline-block;
    margin: 5px 50px;
    }
p{
    position:relative;
    bottom: 45px;
    left: 40px;
    color: white;
}
